.volume-control {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.volume-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  font-size: 24px;
  margin-left: -24px;
}

.volume-slider-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.volume-slider-container.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.volume-slider {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  background: var(--slider-color);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.volume-slider:hover {
  opacity: 1;
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}

.volume-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 50%;
}
